fastapi
uvicorn
gunicorn
python-dotenv

# LangChain stack (safe for Python 3.11)
langchain
langchain-community
langchain-pinecone
langchain-mistralai

# Vector DB
pinecone-client

# LLM
groq
google-genai
langchain-google-genai
pypdf

# Auth & DB
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator