fastapi
uvicorn
gunicorn
python-dotenv

# LangChain 0.3 ecosystem (COMPATIBLE)
langchain>=0.3.7
langchain-community>=0.3.7
langchain-core>=0.3.45
langchain-mistralai>=0.2.8
google-genai
langchain-google-genai

# Vector DB & LLM
pinecone
groq
pypdf

# Auth & DB
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator